root: true

env:
  browser: true
  es6: true

parserOptions:
  sourceType: "module"

extends:
  "htmlacademy/es5"


// {
//   "extends": [
//     "stylelint-config-htmlacademy"
//   ],

//   "parserOptions": {
//         "ecmaVersion": 2017,
//         "sourceType": "module"
//     },

//   "env" : {
//     "node" : true,
//      "es6": true
//   },
//   "rules": {
//     "no-invalid-position-at-import-rule": true,
//   }
// }
