.advant {
  position: relative;
  margin-top: 110px;
  max-width: 1210px;

  @include media-tablet {
    margin-top: 54px;
  }

  @include media-mobile {
    margin-top: 37px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 872px;
    height: 1353px;
    left: -503px;
    top: -141px;
    background-image: url("../img/svg/two-triangles.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include tablet-mobile {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 260px;
    height: 260px;
    right: -345px;
    bottom: 50px;
    background-image: url("../img/svg/triangle-right.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include media-tablet {
      width: 636px;
      height: 640px;
      bottom: -151px;
      right: -315px;
      z-index: -1;
    }

    @include media-mobile {
      display: none;
    }
  }
}

.advant__list {
  @include reset-list-slyle;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;

  @include media-mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.advant__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 41px 42px 67px;
  width: calc((100% - 30px) / 2);
  margin-bottom: 29px;
  border: 1px solid $border-bg-color-advant;
  border-left-color: $accent-border-bg-color;
  border-left-width: 3px;
  color: $blue-text;
  background-color: $primary-white-bg;
  transition: all 0.3s;
  min-height: 299px;

  @include media-tablet {
    margin-bottom: 30px;
    padding: 24px 20px 20px 24px;
    width: calc((100% - 30px) / 2);
    min-height: 232px;
  }

  @include media-mobile {
    padding: 24px 14px 24px 22px;
    width: 100%;
    max-width: 360px;
    margin: 0 auto 20px;
    font-size: 16px;
    line-height: 22px;
    min-height: 230px;
  }
}

.advant__item:nth-of-type(odd) {
  margin-right: 30px;

  @include media-mobile {
    margin-right: auto;
  }
}

.advant__item:hover {
  background-color: $primary-blue-bg;
  cursor: pointer;
  color: $white-text;
}

.advant__item h3 {
  @include reset-text-slyle;
  @include subtitles-average;
  line-height: 34px;
  margin-bottom: 15px;
  color: $blue-text;
  transition: all 0.4s linear;

  @include media-tablet {
    margin-bottom: 9px;
  }

  @include media-mobile {
    @include subtitles-small;
    line-height: 28px;
    margin-bottom: 8px;
  }
}

.advant__item:hover h3 {
  color: $white-text;
}

.advant__item p {
  @include reset-text-slyle;
  @include plain-text;
  line-height: 22px;
  color: $grey-text;
}

.advant__item:hover p {
  color: $white-text;
}

.advant__item svg {
  margin-bottom: 20px;
  fill: $primary-blue-bg;

  @include media-tablet {
    margin-bottom: 6px;
  }

  @include media-mobile {
    margin-bottom: 12px;
  }
}

.advant__item:hover svg {
  fill: $primary-white-bg;
}

.advant__item--clock {
  @include media-mobile {
    padding-right: 15px;
  }
}

.advant__item--suppliers {
  @include media-mobile {
    min-height: 310px;
  }
}

.advant__item--clock svg {
  @include media-mobile {
    width: 29px;
    height: 36px;
  }
}

.advant__item--suppliers svg {
  @include media-mobile {
    width: 32px;
    height: 32px;
  }
}

.advant__item--security svg {
  @include media-mobile {
    width: 30px;
    height: 26px;
  }
}

.advant__item--personal svg {
  @include media-mobile {
    width: 32px;
    height: 32px;
  }
}
