.button {
  @include reset-style-button;
  border-radius: 5px;
  text-transform: uppercase;
}

.button:active {
  transform: scale(0.98);
  opacity: 0.7;
}

.button--call-me {
  margin-left: 52px;
  padding: 14px 25px;
  background-color: transparent;
  border: 1px solid $primary-white-bg;

  @include tablet-mobile {
    display: none;
  }
}

.button--call-me:hover {
  background-color: $primary-blue-bg;
  border: 1px solid $primary-blue-bg;
}

.button--advisory {
  padding: 17px 30px;
  margin-left: 97px;
  font-size: 16px;
  line-height: 19px;
  background-color: $primary-blue-bg;
  width: 100%;
  max-width: 407px;

  @include media-tablet {
    margin-left: 48px;
    max-width: 379px;
  }

  @include media-mobile {
    margin-left: 0;
    padding: 17px 11px;
    max-width: 360px;
  }
}

.button--advisory span:first-of-type {
  @include media-mobile {
    display: none;
  }
}

.button--advisory span:last-of-type {
  display: none;

  @include media-mobile {
    display: inline;
  }
}

.button--advisory:hover {
  background-color: $primary-white-bg;
  color: $blue-text;
}

.button--more {
  padding: 14px 13px;
  margin-top: 30px;
  background-color: transparent;
  color: $blue-text;
  border: 1px solid $primary-blue-bg;
  width: 180px;
}

.button--more:hover {
  background-color: $primary-blue-bg;
  color: $white-text;
}

.button--contact {
  margin-left: 52px;
  padding: 14px 10px;
  background-color: transparent;
  border: 1px solid $primary-white-bg;
  flex-grow: 1;
}

.button--contact:hover {
  background-color: $primary-white-bg;
  color: $blue-text;
}
