.copyrights {
  font-size: 13px;
  line-height: 24px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 55px;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  @include media-tablet {
    margin-top: 35px;
    padding-top: 23px;
  }

  @include media-mobile {
    margin: 20px auto 0;
    padding-top: 29px;
    width: 100%;
    max-width: 360px;
  }

  &::before {
    position: absolute;
    content: "";
    opacity: 0.2;
    width: 100vw;
    height: 1px;
    left: calc(-50vw + 50%);
    top: 0;
    background-color: $grey-bg;
  }
}

.copyrights__copy {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  width: 35.37%;

  max-width: 460px;

  @include tablet-mobile {
    display: none;
  }
}

.copyrights__copy p {
  @include reset-text-slyle;
}

.copyrights__copy p:nth-of-type(odd) {
  @include media-desktop {
    margin-right: 77px;
  }
}

.copyrights__conditions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(254px, 1fr));
  row-gap: 10px;
  align-items: center;
  margin-left: auto;
  width: 57.58%;

  @include tablet-mobile {
    width: 100%;
  }

  @include media-mobile {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
  }
}

.copyrights__conditions p {
  @include reset-text-slyle;
}

.copyrights__conditions p:nth-child(even) {
  margin-left: auto;

  @include media-mobile {
    margin-left: 0;
  }
}
