.header {
  position: relative;
  overflow: hidden;
  background-color: $secondary-blue-bg;

  &::before {
    position: absolute;
    content: "";
    left: 54%;
    top: 50%;
    width: 701px;
    height: 655px;
    transform: translateY(-49%);
    z-index: 0;

    @include media-tablet {
      width: 329px;
      height: 466px;
      top: 228px;
      left: unset;
      right: 0;
    }

    @include media-mobile {
      width: 290px;
      height: 436px;
      top: 215px;
      right: 0;
      left: unset;
    }
  }
}

.header.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding-top: 35px;
  max-width: unset;

  @include media-tablet {
    padding-top: 20px;
  }

  @include media-mobile {
    padding-top: 14px;
  }
}

.header__content {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 20px;
  max-width: 1411px;

  @include tablet-mobile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
}

.header__content a {
  flex-shrink: 0;
}

.header__log-pic {
  @include media-mobile {
    width: 38px;
    height: 38px;
  }
}

.no-webp .header {
  background-image: url("../img/hero/hero-bg-dsk@1x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include retina {
    background-image: url("../img/hero/hero-bg-dsk@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @include media-mobile {
    background-image: url("../img/hero/hero-bg-mobile@1x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include retina {
      background-image: url("../img/hero/hero-bg-mobile@2x.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.no-webp .header::before {
  background-image: url("../img/hero/hero-main@1x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include retina {
    background-image: url("../img/hero/hero-main@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @include media-tablet {
    background-image: url("../img/hero/hero-main-tablet@1x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include retina {
      background-image: url("../img/hero/hero-main-tablet@2x.png");
    }
  }

  @include media-mobile {
    background-image: url("../img/hero/hero-main-mobile@1x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include retina {
      background-image: url("../img/hero/hero-main-mobile@2x.png");
    }
  }
}

.webp .header {
  background-image: url("../img/hero/hero-bg-dsk@1x.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include retina {
    background-color: $secondary-blue-bg;
    background-image: url("../img/hero/hero-bg-dsk@2x.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @include media-mobile {
    background-image: url("../img/hero/hero-bg-mobile@1x.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include retina {
      background-image: url("../img/hero/hero-bg-mobile@2x.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.webp .header::before {
  background-image: url("../img/hero/hero-main@1x.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include retina {
    background-image: url("../img/hero/hero-main@2x.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @include media-tablet {
    background-image: url("../img/hero/hero-main-tablet@1x.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include retina {
      background-image: url("../img/hero/hero-main-tablet@2x.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  @include media-mobile {
    background-image: url("../img/hero/hero-main-mobile@1x.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include retina {
      background-image: url("../img/hero/hero-main-mobile@2x.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
