.hero {
  padding-top: 232px;
  padding-bottom: 276px;
  color: $white-text;
  width: 100%;
  z-index: 2;

  @include tablet-mobile {
    width: 100%;
  }

  @include media-tablet {
    padding-top: 116px;
    padding-bottom: 164px;
  }

  @include media-mobile {
    padding-top: 231px;
    padding-bottom: 72px;
  }
}

.hero .wrapper {
  width: 100%;
  padding: 0;
  max-width: 1420px;

  @include tablet-mobile {
    max-width: 100%;
    margin-right: auto;
    width: 82.6%;
  }

  @include media-mobile {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: 360px;
  }
}

.hero h1 {
  @include reset-text-slyle;
  margin-bottom: 27px;
  font-family: $accent-bold-f;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @include media-tablet {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 29px;
    max-width: 470px;
  }

  @include media-mobile {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 47px;
  }
}

.hero p {
  @include reset-text-slyle;
  position: relative;
  margin-bottom: 44px;
  max-width: 797px;
  padding-left: 99px;
  font-size: 22px;
  line-height: 34px;

  @include media-tablet {
    margin-bottom: 56px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 28px;
    max-width: 470px;
  }

  @include media-mobile {
    margin-bottom: 40px;
    padding-left: 50px;
    font-size: 16px;
    line-height: 25px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    left: 5px;
    top: 15px;
    background-image: url("../img/svg/hor-line.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include tablet-mobile {
      width: 33px;
    }
  }
}

.hero a {
  @include reset-style-button;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 17px 30px;
  margin-left: 97px;
  font-size: 16px;
  line-height: 19px;
  background-color: $primary-blue-bg;
  width: 100%;
  max-width: 410px;
  transition: all 0.2s ease-in-out;

  @include media-tablet {
    margin-left: 52px;
    max-width: 379px;
  }

  @include media-mobile {
    margin-left: 0;
    padding: 17px 11px;
    max-width: 360px;
  }
}

.hero span:first-of-type {
  @include media-mobile {
    display: none;
  }
}

.hero span:last-of-type {
  display: none;

  @include media-mobile {
    display: inline;
  }
}

.hero a:hover {
  background-color: $primary-white-bg;
  color: $blue-text;
}
