.social {
  @include reset-list-slyle;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 216px;
  width: 100%;

  @include media-tablet {
    margin-left: auto;
    justify-content: flex-end;
  }

  @include media-mobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 10px;
    margin-top: 32px;
    max-width: 112px;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;

  @include media-tablet {
    margin-right: 0;
    margin-left: 14px;
  }

  @include media-mobile {
    margin-right: 0;
  }
}

.social__item a {
  position: relative;
  @include media-tablet {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.social__item svg {
  fill: $light-grey-bg;
  transition: all 0.2s ease-in-out;
}

.social__item:hover svg {
  fill: $primary-blue-bg;
}

.social__item:active svg {
  fill: $secondary-blue-bg;
  opacity: 0.5;
}
