
@mixin media-desktop {
  @media (min-width: $desktops) {
    @content;
  }
}
@mixin tablet-mobile {
  @media (min-width: $phones-min) and (max-width: $tablets-max) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: $tablets-min) and (max-width: $tablets-max) {
    @content;
  }
}

@mixin media-mobile {
  @media (min-width: $phones-min) and (max-width: $phones-max) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $resolution2x) {
    @content;
  }
}

@mixin reset-style-link {
  font-family: inherit;
  color: $currentColor;
  text-decoration: none;
  transition: all 0.2s;
}

@mixin reset-list-slyle {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin reset-text-slyle {
  margin: 0;
  padding: 0;
}

@mixin reset-style-button {
  display: block;
  font-family: $f-semi-bold;
  font-weight: $font-weight-semibold;
  text-align: center;
  border: none;
  background-color: $primary-turquoise-bg;
  appearance: none;
  text-decoration: none;
  cursor: pointer;
  color: $black-text;
  font-size: 15px;
  line-height: 21px;
}

@mixin font(
  $fontFamily: $main-f,
  $fontSize: 16px,
  $fontWeight: $font-weight-normal,
  $fontStyle: normal
) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  font-style: $fontStyle;
}

@mixin accent-text {
  @include font($light-f, 16px, $font-weight-light, normal);
}

@mixin big-accent-text {
  @include font($light-f, 18px, $font-weight-light, normal);
}

@mixin hero-title {
  @include font($f-bold, 30px, $font-weight-bold, normal);
}

@mixin placeholder-text {
  @include font($main-f, 15px, $font-weight-normal, normal);
}

@mixin section-titles-dks {
  @include font($f-semi-bold, 30px, $font-weight-semibold, normal);
}

@mixin section-titles-tablet-mobile {
  @include font($f-semi-bold, 24px, $font-weight-semibold, normal);
}

@mixin plain-text {
  @include font($main-f, 22px, $font-weight-normal, normal);
}
