@mixin media-desktop {
  @media (min-width: $desktops) {
    @content;
  }
}

@mixin tablet-mobile {
  @media (min-width: $phones-min) and (max-width: $tablets-max) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: $tablets-min) and (max-width: $tablets-max) {
    @content;
  }
}

@mixin media-mobile {
  @media (min-width: $phones-min) and (max-width: $phones-max) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $resolution2x) {
    @content;
  }
}

@mixin reset-style-link {
  font-family: inherit;
  color: $currentColor;
  text-decoration: none;
  transition: all 0.2s;
}

@mixin reset-list-slyle {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin reset-text-slyle {
  margin: 0;
  padding: 0;
}

@mixin reset-style-button {
  display: block;
  font-family: $accent-bold-f;
  font-weight: $font-weight-bold;
  text-align: center;
  border: none;
  appearance: none;
  text-decoration: none;
  cursor: pointer;
  color: $white-text;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

@mixin font(
  $fontFamily: $main-f,
  $fontSize: 16px,
  $fontWeight: $font-weight-normal,
  $fontStyle: normal
) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  font-style: $fontStyle;
}

@mixin plain-text {
  @include font($main-f, 16px, $font-weight-normal, normal);
}

@mixin small-text {
  @include font($main-f, 15px, $font-weight-normal, normal);
}

@mixin subtitles-average {
  @include font($accent-regular-f, 24px, $font-weight-normal, normal);
}

@mixin subtitles-small {
  @include font($accent-regular-f, 20px, $font-weight-normal, normal);
}
