$currentColor: inherit;
$white: #ffffff;
$basic-blue: #00b2ff;
$light-grey: #ebebeb;
$average-grey: #666666;
$grey: #626962;
$light-grey: #cdcdcd;
$light-grey2: #fafafa;
$dark-blue: #1b2d37;
$partial-opacity-white: rgba(255, 255, 255, 0.1);
$partial-opacity-white2: rgba(255, 255, 255, 0.7);
$partial-opacity-black: rgba(0, 0, 0, 0.1);

/* Text colors */
$white-text: $white;
$grey-text: $average-grey;
$blue-text: $basic-blue;
$input-text-white: $partial-opacity-white2;
$dark-blue-text: $dark-blue;

/* BG colors */
$primary-blue-bg: $basic-blue;
$secondary-blue-bg: $dark-blue;
$primary-white-bg: $white;
$border-bg-color-advant: $light-grey;
$accent-border-bg-color: $basic-blue;
$input-bg: $partial-opacity-white;
$light-grey-bg: $light-grey;
$cover-grey-bg: $partial-opacity-black;
$grey-bg: $grey;
$light-grey-border: $light-grey2;

/*Fonts*/
$main-f: "ptmono-regular", "Arial", "Helvetica", sans-serif;
$accent-regular-f: "robotocondensed-regular", "Arial", "Helvetica", sans-serif;
$accent-bold-f: "robotocondensed-bold", "Arial", "Helvetica", sans-serif;

/* Font weight */
$font-weight-normal: 400;
$font-weight-bold: 700;

/* Sizes and breakpoints*/
$phones-min: 320px;
$phones-max: 767px;
$tablets-min: 768px;
$tablets-max: 1023px;
$desktops: 1024px;

/* Retina */
$resolution2x: 2dppx;
