.wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1206px;
  margin: 0 auto;

  @include media-tablet {
    width: 100%;
    padding-left: 21px;
    padding-right: 21px;
  }

  @include media-mobile {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
